@tailwind base;
@tailwind components;


.background-gradient {
  height: 100%;
  width: 100%;
  background: #181717 radial-gradient(#575555 5%, transparent 0);
  background-size: 30px 30px;
  animation: diagonal-se 60s linear infinite;
}

@keyframes diagonal-se {
0% {
  background-position: 0% 0%;
}

100% {
  background-position: 100% 100%;
}
}


@tailwind utilities;

